# -- Node -----------------------------------------
node_modules/
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.name
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workExpress.iml
/.idea/workspace.xml
