<h1>HOLA MUNDO</h1><!doctype html>
<html lang="en">
<html>
    <head>
        <!--<script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>-->
        <link type='text/css' rel='stylesheet' href="/public/css/bootstrap.css" />
        <link type='text/css' rel='stylesheet' href="/public/css/base.css" />
        <!--link type='text/css' rel='stylesheet' href="public/css/bootstrap.min.css" />-->
        <!--link type='text/css' rel='stylesheet' href="public/css/bootstrap-theme.css" />-->
        <!--link type='text/css' rel='stylesheet' href="public/css/bootstrap-theme.min.css" />-->
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/public/images/template/diego.jpg" alt="Brand" class="img-rounded">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p class="navbar-text">News and other items </p>
                </div>
        </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">News</a></li>
                    <li role="presentation"><a href="#">Updates</a></li>
                    <li role="presentation"><a href="#">Link</a></li>
                    <li role="presentation"><a href="#">Link</a></li>
                    <li role="presentation"><a href="#">Link</a></li>
                    <li role="presentation"><a href="#">Link</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <form>
                    <div class="form-group">
                        <label for="exampleInputName2">FirstName</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">LastName</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <label for="exampleInputName2">Username</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">State</label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Activo
                            </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Inactivo
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Staff</label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> On
                            </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Off
                        </label>
                    </div>
                </form>
                <form class="form-inline">
                        <label for="exampleInputName2">Created: </label>
                    <div class="form-group">
                        <label for="exampleInputName2">Día</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Mes</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Año</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <label for="exampleInputName2">LastLogin</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <button type="button" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
    </body>

    <!--<footer>
        <div id="footer">
            <div class="container-fluid">
                <div class="col-xs-12 col-md-8">
                    <div class="footer-module">
                    </div>
                    <div class="footer-module">
					    <h3>También encuentranos en</h3>
					    <img style="margin: 10px 22px; float: left;" alt="facebook" src="/public/images/template/facebook.png" height="64" width="64">
                        <img style="margin: 10px 22px 10px 10px;" alt="twitter" src="/public/images/template/twitter.png" height="64" width="64">
                        <img style="margin: 10px 22px 10px 10px;" alt="linkedin" src="/public/images/template/linkedin.png" height="64" width="64"><br>
                        <img style="margin: 10px 22px;" alt="rss" src="/public/images/template/rss.png" height="64" width="64">
                        <img style="margin: 10px 22px 10px 10px;" alt="google" src="/public/images/template/google.png" height="64" width="64">
                        <img style="margin: 10px 22px 10px 10px;" alt="youtube" src="/public/images/template/youtube.png" height="64" width="64">
                    </div>
                </div>
            </div>
        </div>
    </footer>-->
</html>
