{% extends 'base.html' %}

{% block content %}
<h1>[[ menu.menu ]]</h1>
<div>
    <p>[[ pagename|title ]]</p>
    <p>[[ userName ]]</p>
</div>

<form action="/article/save/" method="post">
    <input type="hidden" name="_csrf" value="[[csrfToken]]">
    <input type="checkbox" name="status" value="true" {% if article.status %}checked{% endif %}>Status<br>
    Title: <input type="text" name="title" value="[[ article.title ]]"><br>
    Slug: <input type="text" name="slug" value="[[ article.slug ]]"><br>
    Content: <input type="text" name="content" value="[[ article.content ]]"><br>
    Description: <input type="text" name="description" value="[[ article.description ]]"><br>
    tags: <input type="text" name="tags" value="[[ article.tags ]]"><br>
    Key: <input type="text" name="key"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}