<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap.admin.css" rel="stylesheet">
    <!--<link href="/public/css/style.min.css" rel="stylesheet">-->
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>Cliente</title>

</head>

<body>

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#"> Admin Users</a>-->
            <div id="logo" class="col-xs-12 col-sm-2">
                <img src="/public/images/template/peque_final_2.png" class="img-rounded" alt="avatar"/>
            </div>
        </div>
        <form class="navbar-form pull-left">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
          </form>
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> IriGonzalez <b
                        class="caret"></b></a>
            </li>
        </ul>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="#"></i> Herramientas</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Irisel Gonz&aacute;lez</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Diego Uribe</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Catherine Cancino</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Nataly Vesga</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Nelly Pulido</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                </li>

            </ul>
        </div>
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                       Irisel Gonz&aacute;lez
                    </h1>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <section>
                                <img src="/public/images/template/iriselaga.jpg" alt="avatar" class="img-responsive imageborder">
                            </section>
                        </div>
                        <div class="col-md-8">
                            <section>
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><i class="fa fa-user"></i> Informaci&oacute;n General</div>
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th>Nombre y Apellido:</th>
                                            <td>Irisel Gonz&aacute;lez</td>
                                        </tr>
                                        <tr>
                                            <th>C.E:</th>
                                            <td>505002</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de Nacimiento:</th>
                                            <td>22/06/1990</td>
                                        </tr>
                                        <tr>
                                            <th>Lugar de Nacimiento</th>
                                            <td>Punto Fijo-Venezuela</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de Expedici&oacute;n</th>
                                            <td>9/30/2010</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                    <hr>

                    <h2><i class="fa fa-pencil-square teal"></i> HERRAMIENTAS</h2>
                    <hr>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="featured-container">
                                <div class="featured-img">
                                  <div class="block-image">
                                    <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                      <h3>
                                        <img src="/public/images/template/plus4.png" alt="portfolio item">
                                    </h3>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="featured-container">
                                <div class="featured-img">
                                  <div class="block-image">
                                    <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                    <h3>
                                        <a>Impugnaci&oacute;n de paternidad</a>
                                    </h3>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="featured-container">
                                <div class="featured-img">
                                  <div class="block-image">
                                    <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                    <h3>
                                        <a>Restituci&oacute;n de Bien Inmueble</a>
                                    </h3>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="featured-container">
                                <div class="featured-img">
                                  <div class="block-image">
                                    <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                    <h3>
                                        <a>Pertenecia Carlos Calvo</a>
                                    </h3>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="featured-container">
                                <div class="featured-img">
                                  <div class="block-image">
                                    <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                    <h3>
                                        <a>Ejecutivo Obligaci&oacute;n Otoniel</a>
                                    </h3>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="featured-container">
                                <div class="featured-img">
                                  <div class="block-image">
                                    <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                    <h3>
                                        <a>Administrativo Cali Otoniel </a>
                                    </h3>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>