<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap.see.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>See_User</title>

</head>

<body>

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> Admin Users</a>
        </div>
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> IriGonzalez <b
                        class="caret"></b></a>
        </ul>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="#"><i class="fa fa-fw fa-dashboard"></i> Home</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Usuarios</a>
                </li>
                <!--<li>
                    <a href="#"><i class="fa fa-fw fa-table"></i> Expedientes</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-edit"></i> Formularios</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-desktop"></i> Clientes</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-wrench"></i> Configuracion</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Perfil <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-file"></i> Mensajes</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-dashboard"></i> Salir</a>
                </li>-->
            </ul>
        </div>
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Ver Usuarios
                    </h1>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <br><br>

                    <div class="container">
                        <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <div class="row user-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                                    <img class="img-circle"
                                         src="/public/images/template/diego.jpg"
                                         alt="User Pic">
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    <strong>Diego Uribe</strong><br>
                                    <span class="text-muted">Administrador</span>
                                </div>
                            </div>
                            <div class="row user-infos cyruxx">
                                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Informaci&oacute;n del usuario</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                                    <img class="img-circle"
                                                         src="/public/images/template/diego.jpg"
                                                         alt="User Pic">
                                                </div>
                                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                                    <strong>Diego Alfonzo Uribe Gamez</strong><br>
                                                    <dl>
                                                        <dt>Username:</dt>
                                                        <dd>diegoug</dd>
                                                        <dt>Correo Electronico:</dt>
                                                        <dd>diego.uribe@gmail.com</dd>
                                                        <dt>Fecha de registro:</dt>
                                                        <dd>12/05/2015</dd>
                                                        <dt>Estado:</dt>
                                                        <dd>Activo</dd>
                                                    </dl>
                                                </div>
                                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                                    <strong>Diego Alfonzo Uribe Gamez</strong><br>
                                                    <table class="table table-user-information">
                                                        <tbody>
                                                        <tr>
                                                            <td>Username:</td>
                                                            <td>diegoug</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Correo Electronico:</td>
                                                            <td>diego.uribe@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha de registro:</td>
                                                            <td>12/05/2015</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Estado:</td>
                                                            <td>Activo</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="button" class="btn btn-lg btn-warning">Editar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row user-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                                    <img class="img-circle"
                                         src="/public/images/template/iriselaga.jpg"
                                         alt="User Pic">
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    <strong>Irisel Gonzalez</strong><br>
                                    <span class="text-muted">Administrador</span>
                                </div>
                            </div>
                            <div class="row user-infos user2">
                                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Informaci&oacute;n del usuario</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                                    <strong>Irisel Alejandra Gonzalez Alcala</strong><br>
                                                    <dl>
                                                        <dt>Username:</dt>
                                                        <dd>iriselag</dd>
                                                        <dt>Correo Electronico:</dt>
                                                        <dd>irisel.gonzalez@gmail.com</dd>
                                                        <dt>Fecha de registro:</dt>
                                                        <dd>10/05/2015</dd>
                                                        <dt>Estado:</dt>
                                                        <dd>Activo</dd>
                                                    </dl>
                                                </div>
                                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                                    <strong>Irisel Alejandra Gonzalez Alcala</strong><br>
                                                    <table class="table table-user-information">
                                                        <tbody>
                                                        <tr>
                                                            <td>Username:</td>
                                                            <td>iriselag</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Correo Electronico:</td>
                                                            <td>irisel.gonzalez@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha de registro:</td>
                                                            <td>10/05/2015</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Estado:</td>
                                                            <td>Activo</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="button" class="btn btn-lg btn-warning">Editar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row user-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                                    <img class="img-circle"
                                         src="/public/images/template/andrea.jpg"
                                         alt="User Pic">
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    <strong>Andrea Cancino</strong><br>
                                    <span class="text-muted">Abogado</span>
                                </div>
                            </div>
                            <div class="row user-infos user3">
                                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Informaci&oacute;n del usuario</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                                    <strong>Andre Catherine Cancino Leon</strong><br>
                                                    <dl>
                                                        <dt>Username:</dt>
                                                        <dd>catemis</dd>
                                                        <dt>Correo Electronico:</dt>
                                                        <dd>andre.cancino@gmail.com</dd>
                                                        <dt>Fecha de registro:</dt>
                                                        <dd>08/05/2015</dd>
                                                        <dt>Estado:</dt>
                                                        <dd>Activo</dd>
                                                    </dl>
                                                </div>
                                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                                    <strong>Andrea Catherine Cancino Leon</strong><br>
                                                    <table class="table table-user-information">
                                                        <tbody>
                                                        <tr>
                                                            <td>Username:</td>
                                                            <td>catemis</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Correo Electronico:</td>
                                                            <td>andrea.cancino@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha de registro:</td>
                                                            <td>08/05/2015</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Estado:</td>
                                                            <td>Activo</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="button" class="btn btn-lg btn-warning">Editar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>