<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
    {{ sessionUser.username }}
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    <li>
        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href='/logout'>logout</a>
    </li>
</ul>