<!doctype html>
<html ng-app='expressApp'>
    <head>
        <script src='/public/js/vendor/angular.min.js'></script>
        <script src='/public/js/vendor/jquery-1.11.1.min.js'></script>
    </head>
    <body>
        {% block transformer-template %}{% endblock %}
        <p>[[ docs ]]</p>
        <script>
            // angular initial model
            var modelApp = {};
            // config all class.angular to start angular
            $('.angular').each(function(){
                // variables
                var model       = $(this).attr('model');
                var index       = $(this).attr('index');
                var content     = $(this).html();
                // config angular modelApp
                modelApp[index] = content;
                // config angular databinding
                $(this).html( '{{' + model +'.'+ index + '}}' );
                // remove unnecessary elements
                $(this).removeClass('angular');
                $(this).removeAttr('model');
                $(this).removeAttr('index');
            });
            // angular app
            var thisApp = angular.module('expressApp', []);
            // angular controller
            thisApp.controller('expressCtrl', function($scope){
                $scope.modelApp = modelApp; 
            })
        </script>
    </body>
</html>