{% extends '../../templates/base.html' %}

{% block content %}
    <div>
        <form action="/admin/article/save/" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="checkbox" name="status" value="true" {% if article.status %}checked{% endif %}>Status<br>
            Title: <input type="text" name="title" value="{{ article.title }}"><br>
            Slug: <input type="text" name="slug" value="{{ article.slug }}"><br>
            Content: <input type="text" name="content" value="{{ article.content }}"><br>
            Description: <input type="text" name="description" value="{{ article.description }}"><br>
            Tags: <input type="text" name="tags" value="{{ article.tags }}"><br>

            {% if article._id %}
            Author: {{ article.author.username }}<br>
            <input type="hidden" name="author" value="{{ article.author._id.toString() }}">
            <input type="submit" value="Update">
            {% else %}
            <input type="submit" value="Submit">
            {% endif %}
        </form>
        {% if article._id %}
            <form action="/admin/article/remove/" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="_id" value="{{ article._id.toString() }}">
                <input type="submit" value="Remove">
            </form>
        {% endif %}
    </div>
{% endblock %}