<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap.admin.css" rel="stylesheet">
    <!--<link href="/public/css/style.min.css" rel="stylesheet">-->
    <link href="/public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>Cliente</title>

</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <!--<a class="navbar-brand" href="#"> Admin Users</a>-->
                <div id="logo" class="col-xs-12 col-sm-2">
                    <img src="/public/images/template/peque_final_2.png" class="img-rounded" alt="avatar"/>
                </div>
            </div>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar">
              </div>
              <button type="button" class="btn btn-default">
                  <img src="/public/images/template/magnifying-glass.png" class="img-responsive" alt="Responsive image" style="width: 20px;">
              </button>
            </form>
            <ul class="nav navbar-right top-nav">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" style="padding:15px 10px 10px"><i class="fa fa-user"></i> IriGonzalez
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </div>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="#">Herramientas</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Irisel Gonz&aacute;lez</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Diego Uribe</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Catherine Cancino</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Nataly Vesga</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Nelly Pulido</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Cliente</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Irisel Gonz&aacute;lez
                        </h1>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <section>
                                    <img src="/public/images/template/iriselaga.jpg" alt="avatar" class="img-responsive imageborder" style="width:175px">
                                </section>
                            </div>
                            <div class="col-md-8">
                                <section>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><i class="fa fa-user"></i> Informaci&oacute;n General</div>
                                        <table class="table table-striped">
                                            <tbody>
                                            <tr>
                                                <th>Nombre y Apellido:</th>
                                                <td>Irisel Gonz&aacute;lez</td>
                                            </tr>
                                            <tr>
                                                <th>C.E:</th>
                                                <td>505002</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha de Nacimiento:</th>
                                                <td>22/06/1990</td>
                                            </tr>
                                            <tr>
                                                <th>Lugar de Nacimiento</th>
                                                <td>Punto Fijo-Venezuela</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha de Expedici&oacute;n</th>
                                                <td>9/30/2010</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <hr>

                        <h2><i class="fa fa-pencil-square teal"></i> HERRAMIENTAS</h2>
                        <hr>
                        <div class="panel-body">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="featured-container">
                                    <div class="featured-img">
                                      <div class="block-image">
                                        <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                          <h3>
                                            <img src="/public/images/template/plus4.png" alt="portfolio item">
                                        </h3>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="featured-container">
                                    <div class="featured-img">
                                      <div class="block-image">
                                        <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                        <h3>
                                            <a>Impugnaci&oacute;n de paternidad</a>
                                        </h3>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="featured-container">
                                    <div class="featured-img">
                                      <div class="block-image">
                                        <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                        <h3>
                                            <a>Restituci&oacute;n de Bien Inmueble</a>
                                        </h3>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="featured-container">
                                    <div class="featured-img">
                                      <div class="block-image">
                                        <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                        <h3>
                                            <a>Pertenecia Carlos Calvo</a>
                                        </h3>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="featured-container">
                                    <div class="featured-img">
                                      <div class="block-image">
                                        <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                        <h3>
                                            <a>Ejecutivo Obligaci&oacute;n Otoniel</a>
                                        </h3>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="featured-container">
                                    <div class="featured-img">
                                      <div class="block-image">
                                        <a href="#"><img src="/public/images/template/folder3.png" alt="portfolio item"></a>
                                        <h3>
                                            <a>Administrativo Cali Otoniel </a>
                                        </h3>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/public/css/bootstrap-3.3.2-dist/js/bootstrap.js"></script>
    <script>
      $(document).ready(function() {
          $("a.dropdown-toggle").click(function(ev) {
              $("a.dropdown-toggle").dropdown("toggle");
              return false;
          });
          $("ul.dropdown-menu a").click(function(ev) {
              $("a.dropdown-toggle").dropdown("toggle");
              return false;
          });
      });
    </script>
</body>

</html>